 <h1 class="text-center mb-3">{{title}}</h1>
<form action="/" method="post" class="mb-4">
  <div class="form-group">
    <label for="name" class="h3"> Query : </label>
    <input type="text" name="research" class="form-control">
  </div>
  <input type="submit" value="Search" class="btn btn-primary btn-block">
</form>
<br>
<h3>Result : </h3>
<br>
{{#each result}}
  <p><small> {{{this._source.url}}} </p></small>
  <a class="h4" href="{{{this._source.url}}}"> {{{this._source.title}}} </a>
  <p><small> {{{short_description this._source.description ../query}}} </p></small>
  <a class="h4" href="{{{this._source.url}}}"> {{{this._source.attachment.title}}} </a>
  <p><small> {{{short_description this._source.attachment.content ../query}}} </p></small>
  <br>
{{/each}}
